.Almbrand {
/*************/
/*   FONTS   */
/*************/
--font-family-amalia: "AmaliaPro", serif;
--font-family-work-sans-light: 'WorkSans-Light', 'Work Sans Light';
--font-family-work-sans: 'WorkSans-Regular', 'Work Sans';
--font-family-work-sans-medium: 'WorkSans-Medium', 'Work Sans Medium';
--font-family-work-sans-bold: 'WorkSans-Bold', 'Work Sans Bold';
/*************/
/*   SIZE    */
/*************/
--font-size-xxs: 1.2rem;
--font-size-xs: 1.4rem;
--font-size-sm: 1.6rem;
--font-size-md: 1.8rem;
--font-size-lg: 2.2rem;
--font-size-xl: 2.6rem;
--font-size-xxl: 3.2rem;

/*************/
/*LINE HEIGHT*/
/*************/
--line-height-xxs: 16px;
--line-height-xs: 18px;
--line-height-sm: 24px;
--line-height-md: 26px;
--line-height-lg: 28px;
--line-height-xl: 32px;
--line-height-xxl: 38px;
}
